.form-control-container {
  margin: 1rem 0;
}

.form-control--invalid {
  border: 1px solid #d63031;
}

.form-control-container > label {
  font-size: 1rem;
  font-weight: 500;
}

.form-control-container > input {
  font-size: 1rem;
  font-family: inherit;
  font-weight: 300;
}

.form-control-container > p {
  color: #d63031;
  font-size: .8rem;
}
